# Creating pandas DataFrame objects

pandas allows you to create data frames manually, via combining a selection of Series objects, or allows you to import a range of different file types (e.g., CSV, Excel, fwf, tabbed, ...)

Let's look at creating a data frame by hand, by using a dictionary of pre-defined Series objects:

In [4]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series(['a', 'b', 'c', 'd'])

df = pd.DataFrame({ 'a': s1, 'b': s2 })
df

   a  b
0  1  a
1  2  b
2  3  c
3  4  d

That was pretty straightforward. Now, lets see how we can load in data from an existing source (in this case a CSV file):

In [6]:
df = pd.read_csv('../data/weights.csv')
df

                      date TOD     weight    bmi        fat
0     2015-01-09T14:27:47Z  PM  86.363917  27.88  24.711000
1     2015-01-09T22:32:56Z  PM  86.091762  27.80  22.131001
2     2015-01-10T08:51:06Z  AM  85.910325  27.74  21.806999
3     2015-01-10T22:14:02Z  PM  85.502092  27.61  20.952000
4     2015-01-11T07:00:44Z  AM  85.502092  27.61  21.162001
...                    ...  ..        ...    ...        ...
6520  2021-06-28T03:40:52Z  AM  75.704505  24.45  16.799999
6521  2021-06-28T06:45:49Z  AM  75.704505  24.45  17.039000
6522  2021-06-28T07:02:19Z  AM  75.386990  24.34  16.844999
6523  2021-06-29T07:24:31Z  AM  75.840582  24.49  16.822001
6524  2021-06-29T07:39:43Z  AM  75.523068  24.39  16.684000

[6525 rows x 5 columns]

Again, pretty straightforward!